<html>

<head></head>

<body>
  <div  clas="fullhight">
    <div style="width: 50%;  float: left;">
      <div class="row" style="padding-left: 20px; text-align: left; padding-top: 300px; padding-right: 50px;">
        <div class="row">
          <div class="col-md-2">
            <label>Hex Code</label>
          </div>
          <div class="col-md-10">
            <input type="text" class="form-control" [(ngModel)]="hexavalue" [ngStyle]="{'border-color': bordercolor}"
              (keyup)="getValue(hexavalue)">
          </div>
          <small *ngIf="isError">
            <p style="color: red; padding-bottom: 70px; padding-left: 100px;">{{errovalue}}</p>
          </small>

        </div>

      </div>
    </div>
  </div>
</body>

</html>
<app-panelone [HexaCode]="myhexacode"></app-panelone>